table {
    width: 80%;
    border: 1px solid black;
    border-collapse:collapse;
}

th {
    font-size: 20px;
    font-weight: 600;
    border: 1px solid black;
    padding: 0 10px;
}

tr {
    border: 1px solid black;
}

td {
    font-size: 16px;
    border: 1px solid black;
    padding: 0 10px;
}

    td a {
        text-decoration: underline !important;
        text-decoration-color: blue !important;
        color: blue !important;
    }

.pie-chart-wrapper {
    position: relative;
    width: 100%;
    max-width: 400px; /* Set the maximum width you prefer */
}

.responsive-pie-chart {
    display: block;
    width: 100%;
    height: auto;
}
