table {
    width: 80%;
    border: 1px solid black;
    border-collapse:collapse;
}

th {
    font-size: 20px;
    font-weight: 600;
    border: 1px solid black;
    padding: 0 10px;
}

tr {
    border: 1px solid black;
}

td {
    font-size: 16px;
    border: 1px solid black;
    padding: 0 10px;
}

    td a {
        text-decoration: underline !important;
        text-decoration-color: blue !important;
        color: blue !important;
    }

.pie-chart-wrapper {
    position: relative;
    width: 100%;
    max-width: 400px; /* Set the maximum width you prefer */
}

.responsive-pie-chart {
    display: block;
    width: 100%;
    height: auto;
}

#amount {
    text-align: right;
}

#header {
    text-align: center;
}

button {
    border-radius: 8px;
}

#header {
    text-align: center;
}

#data {
    text-align: right;
}

.button {
    background-color: lightcyan;
    border-color: blue;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.button1 {
    background-color: lightcyan;
    border-color: blue;
}

.button2 {
    background-color: #FFCCCB;
    border-color: red;
}

body {
    background-image: linear-gradient(to top left, white, lightyellow);
}