table {
    width: 600px;
    table-layout: fixed;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: white?
}

th {
    font-size: 20px;
    font-weight: 600;
    border: 1px solid black;
    padding: 0 10px;
}

tr {
    border: 1px solid black;
}

td {
    font-size: 16px;
    border: 1px solid black;
    padding: 0 10px;
}

.spinner {
    border: 16px solid silver;
    border-top: 16px solid black;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 700ms linear infinite;
    top: 40%;
    left: 55%;
    position: absolute;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

#header {
    text-align: center;
}

#data {
    text-align: right;
}

.button1 {
    background-color: lightcyan;
    border-color: blue;
}

.button2 {
    background-color: #FFCCCB;
    border-color: red;
}

button {
    border-radius: 8px;
}

body {
    background-image: linear-gradient(to top left, white, lightyellow);
}