@page "/"
@using StockResearchPlatform.Services
@inject LoadStockDataToDatabaseService service;

<PageTitle>Home</PageTitle>

<body>
	<h1>Home Page</h1>
	<br />
	<br />
	<ul>
		<li>Use the search bar to find stock information, you will be able to select three sections, the summary, the statistics and the finances of the stock</li>
		<li>You can add and compare portfolio as well as view atomic breakdown and the portfolio exposure pie chart</li>
		<li>You can view, edit and remove dividend ledger and view upcoming dividensd</li>
		<li>You can compare upto 3 stosk and identify their strength and weaknesses</li>
	</ul>
</body>

<link rel="stylesheet" href="css/home.css" />

@code {
	
}
